<a href="https://colab.research.google.com/github/sethkipsangmutuba/SQL/blob/main/1e.%20Aliasing_and_commenting_in_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Markdown vs SQL Comments

Understanding the difference between using Markdown cells and SQL comments in your notebook:

| Feature      | Markdown                        | SQL Comment                    |
|--------------|----------------------------------|--------------------------------|
| **Where**    | Markdown cells in the notebook  | Inside SQL code cells          |
| **Purpose**  | Explain logic outside the code  | Explain or disable code lines  |
| **Syntax**   | Markdown formatting (`#`, `*`)  | `--` (single-line) or `/* */` (multi-line) |
| **Use Case** | Document structure, headings, notes | Clarify specific SQL logic or temporarily disable code |

In [309]:
import sqlite3
import pandas as pd
import seaborn as sns

# Load dataset
df = sns.load_dataset("titanic")

# Connect to SQLite and write dataset
conn = sqlite3.connect("titanic.db")
df.to_sql("titanic", conn, if_exists="replace", index=False)

891

#Aliasing Columns
Instead of long names like embark_town, letâ€™s rename them for readability.

In [310]:
pd.read_sql("""
-- Show basic passenger info with custom column names (aliases)
SELECT
    age AS passenger_age,
    sex AS gender,
    class AS ticket_class,
    embark_town AS departure
FROM
    titanic
LIMIT 10;
""", conn)

   passenger_age  gender ticket_class    departure
0           22.0    male        Third  Southampton
1           38.0  female        First    Cherbourg
2           26.0  female        Third  Southampton
3           35.0  female        First  Southampton
4           35.0    male        Third  Southampton
5            NaN    male        Third   Queenstown
6           54.0    male        First  Southampton
7            2.0    male        Third  Southampton
8           27.0  female        Third  Southampton
9           14.0  female       Second    Cherbourg

#Aliasing Tables
We can also rename the table to make queries cleaner:

In [311]:
pd.read_sql("""
-- Using alias 't' for the titanic table
SELECT
    t.age AS passenger_age,
    t.survived AS survived_status,
    t.fare AS ticket_price
FROM
    titanic AS t
WHERE
    t.age >= 30
LIMIT 5;
""", conn)

   passenger_age  survived_status  ticket_price
0           38.0                1       71.2833
1           35.0                1       53.1000
2           35.0                0        8.0500
3           54.0                0       51.8625
4           58.0                1       26.5500

Single-Line Comments

In [312]:
pd.read_sql("""
-- This query gets survival status of passengers who were not alone
SELECT
    survived AS survived_status,
    alone AS not_alone
FROM
    titanic
WHERE
    alone = 0
LIMIT 5;
""", conn)

   survived_status  not_alone
0                0          0
1                1          0
2                1          0
3                0          0
4                1          0

Multi-Line Comments

In [313]:
pd.read_sql("""
/*
This query displays class, fare, and survival status
for passengers younger than 15 years old
to understand child survival patterns
*/
SELECT
    class AS ticket_class,
    fare AS ticket_fare,
    survived AS survived_status
FROM
    titanic
WHERE
    age < 15
LIMIT 5;
""", conn)

  ticket_class  ticket_fare  survived_status
0        Third      21.0750                0
1       Second      30.0708                1
2        Third      16.7000                1
3        Third       7.8542                0
4        Third      29.1250                0

Exclude a WHERE clause with commenting

In [314]:
pd.read_sql("""
SELECT
    age,
    sex,
    survived
FROM
    titanic
-- WHERE survived = 1  -- Uncomment to filter only survivors
LIMIT 5;
""", conn)

    age     sex  survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1
4  35.0    male         0

#QUESTIONS

## Learning Objectives Recap

Using the **Titanic** dataset, you have learned how to:

- Use the `SELECT` statement to query specific columns  
- Use the `WHERE` clause to filter rows based on conditions  
- Limit the number of results using `LIMIT`  
- Combine multiple conditions using logical operators like `AND`

In [315]:
import pandas as pd
import seaborn as sns
import sqlite3

# Load Titanic dataset
titanic = sns.load_dataset('titanic')

# Optional: Add a synthetic 'name' column to simulate identifiers
titanic.insert(0, 'name', ['Passenger_' + str(i) for i in range(len(titanic))])

# Connect to SQLite and save dataset
conn = sqlite3.connect('titanic.db')
titanic.to_sql('titanic', conn, if_exists='replace', index=False)

891

#Return all passenger names (first 10)

In [316]:
pd.read_sql("""
SELECT name
FROM titanic
LIMIT 10;
""", conn)

          name
0  Passenger_0
1  Passenger_1
2  Passenger_2
3  Passenger_3
4  Passenger_4
5  Passenger_5
6  Passenger_6
7  Passenger_7
8  Passenger_8
9  Passenger_9

Return name, age, and embarkation town for all passengers

In [317]:
pd.read_sql("""
SELECT name, age, embark_town
FROM titanic;
""", conn)

              name   age  embark_town
0      Passenger_0  22.0  Southampton
1      Passenger_1  38.0    Cherbourg
2      Passenger_2  26.0  Southampton
3      Passenger_3  35.0  Southampton
4      Passenger_4  35.0  Southampton
..             ...   ...          ...
886  Passenger_886  27.0  Southampton
887  Passenger_887  19.0  Southampton
888  Passenger_888   NaN  Southampton
889  Passenger_889  26.0    Cherbourg
890  Passenger_890  32.0   Queenstown

[891 rows x 3 columns]

Return all information about passengers

In [318]:
pd.read_sql("""
SELECT *
FROM titanic;
""", conn)

,name,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,Passenger_0,0,3,male,22.0,1,0,7.2500,S,Third,man,1,None,Southampton,no,0
1,Passenger_1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
2,Passenger_2,1,3,female,26.0,0,0,7.9250,S,Third,woman,0,None,Southampton,yes,1
3,Passenger_3,1,1,female,35.0,1,0,53.1000,S,First,woman,0,C,Southampton,yes,0
4,Passenger_4,0,3,male,35.0,0,0,8.0500,S,Third,man,1,None,Southampton,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Passenger_886,0,2,male,27.0,0,0,13.0000,S,Second,man,1,None,Southampton,no,1
887,Passenger_887,1,1,female,19.0,0,0,30.0000,S,First,woman,0,B,Southampton,yes,1
888,Passenger_888,0,3,female,NaN,1,2,23.4500,S,Third,woman,0,None,Southampton,no,0
889,Passenger_889,1,1,male,26.0,0,0,30.0000,C,First,man,1,C,Cherbourg,yes,1
890,Passenger_890,0,3,male,32.0,0,0,7.7500,Q,Third,man,1,None,Queenstown,no,1

Return all passengers who embarked from Queenstown

In [319]:
pd.read_sql("""
SELECT name, embark_town
FROM titanic
WHERE embark_town = 'Queenstown';
""", conn)

             name embark_town
0     Passenger_5  Queenstown
1    Passenger_16  Queenstown
2    Passenger_22  Queenstown
3    Passenger_28  Queenstown
4    Passenger_32  Queenstown
..            ...         ...
72  Passenger_790  Queenstown
73  Passenger_825  Queenstown
74  Passenger_828  Queenstown
75  Passenger_885  Queenstown
76  Passenger_890  Queenstown

[77 rows x 2 columns]

Return passengers who did not embark from Queenstown (limit 10)

In [320]:
pd.read_sql("""
SELECT name, embark_town
FROM titanic
WHERE embark_town != 'Queenstown'
LIMIT 10;
""", conn)

           name  embark_town
0   Passenger_0  Southampton
1   Passenger_1    Cherbourg
2   Passenger_2  Southampton
3   Passenger_3  Southampton
4   Passenger_4  Southampton
5   Passenger_6  Southampton
6   Passenger_7  Southampton
7   Passenger_8  Southampton
8   Passenger_9    Cherbourg
9  Passenger_10  Southampton

Passengers who paid more than 50 in fare and embarked from Cherbourg

In [321]:
pd.read_sql("""
SELECT *
FROM titanic
WHERE embark_town = 'Cherbourg'
  AND fare > 50;
""", conn)

,name,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,Passenger_1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
1,Passenger_31,1,1,female,NaN,1,0,146.5208,C,First,woman,0,B,Cherbourg,yes,0
2,Passenger_34,0,1,male,28.0,1,0,82.1708,C,First,man,1,None,Cherbourg,no,0
3,Passenger_52,1,1,female,49.0,1,0,76.7292,C,First,woman,0,D,Cherbourg,yes,0
4,Passenger_54,0,1,male,65.0,0,1,61.9792,C,First,man,1,B,Cherbourg,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Passenger_742,1,1,female,21.0,2,2,262.3750,C,First,woman,0,B,Cherbourg,yes,0
57,Passenger_789,0,1,male,46.0,0,0,79.2000,C,First,man,1,B,Cherbourg,no,1
58,Passenger_835,1,1,female,39.0,1,1,83.1583,C,First,woman,0,E,Cherbourg,yes,0
59,Passenger_849,1,1,female,NaN,1,0,89.1042,C,First,woman,0,C,Cherbourg,yes,0
60,Passenger_879,1,1,female,56.0,0,1,83.1583,C,First,woman,0,C,Cherbourg,yes,0

Adult male passengers who traveled alone and survived

In [322]:
pd.read_sql("""
SELECT *
FROM titanic
WHERE age >= 18
  AND sex = 'male'
  AND alone = 1
  AND survived = 1;
""", conn)

,name,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,Passenger_21,1,2,male,34.0,0,0,13.0000,S,Second,man,1,D,Southampton,yes,1
1,Passenger_23,1,1,male,28.0,0,0,35.5000,S,First,man,1,A,Southampton,yes,1
2,Passenger_74,1,3,male,32.0,0,0,56.4958,S,Third,man,1,None,Southampton,yes,1
3,Passenger_81,1,3,male,29.0,0,0,9.5000,S,Third,man,1,None,Southampton,yes,1
4,Passenger_127,1,3,male,24.0,0,0,7.1417,S,Third,man,1,None,Southampton,yes,1
5,Passenger_146,1,3,male,27.0,0,0,7.7958,S,Third,man,1,None,Southampton,yes,1
6,Passenger_187,1,1,male,45.0,0,0,26.5500,S,First,man,1,None,Southampton,yes,1
7,Passenger_204,1,3,male,18.0,0,0,8.0500,S,Third,man,1,None,Southampton,yes,1
8,Passenger_207,1,3,male,26.0,0,0,18.7875,C,Third,man,1,None,Cherbourg,yes,1
9,Passenger_209,1,1,male,40.0,0,0,31.0000,C,First,man,1,A,Cherbourg,yes,1
10,Passenger_226,1,2,male,19.0,0,0,10.5000,S,Second,man,1,None,Southampton,yes,1
11,Passenger_271,1,3,male,25.0,0,0,0.0000,S,Third,man,1,None,Southampton,yes,1
12,Passenger_283,1,3,male,19.0,0,0,8.0500,S,Third,man,1,None,Southampton,yes,1
13,Passenger_286,1,3,male,30.0,0,0,9.5000,S,Third,man,1,None,Southampton,yes,1
14,Passenger_288,1,2,male,42.0,0,0,13.0000,S,Second,man,1,None,Southampton,yes,1
15,Passenger_338,1,3,male,45.0,0,0,8.0500,S,Third,man,1,None,Southampton,yes,1
16,Passenger_391,1,3,male,21.0,0,0,7.7958,S,Third,man,1,None,Southampton,yes,1
17,Passenger_400,1,3,male,39.0,0,0,7.9250,S,Third,man,1,None,Southampton,yes,1
18,Passenger_414,1,3,male,44.0,0,0,7.9250,S,Third,man,1,None,Southampton,yes,1
19,Passenger_429,1,3,male,32.0,0,0,8.0500,S,Third,man,1,E,Southampton,yes,1
20,Passenger_430,1,1,male,28.0,0,0,26.5500,S,First,man,1,C,Southampton,yes,1
21,Passenger_447,1,1,male,34.0,0,0,26.5500,S,First,man,1,None,Southampton,yes,1
22,Passenger_449,1,1,male,52.0,0,0,30.5000,S,First,man,1,C,Southampton,yes,1
23,Passenger_455,1,3,male,29.0,0,0,7.8958,C,Third,man,1,None,Cherbourg,yes,1
24,Passenger_460,1,1,male,48.0,0,0,26.5500,S,First,man,1,E,Southampton,yes,1
25,Passenger_509,1,3,male,26.0,0,0,56.4958,S,Third,man,1,None,Southampton,yes,1
26,Passenger_510,1,3,male,29.0,0,0,7.7500,Q,Third,man,1,None,Queenstown,yes,1
27,Passenger_512,1,1,male,36.0,0,0,26.2875,S,First,man,1,E,Southampton,yes,1
28,Passenger_553,1,3,male,22.0,0,0,7.2250,C,Third,man,1,None,Cherbourg,yes,1
29,Passenger_569,1,3,male,32.0,0,0,7.8542,S,Third,man,1,None,Southampton,yes,1
30,Passenger_570,1,2,male,62.0,0,0,10.5000,S,Second,man,1,None,Southampton,yes,1
31,Passenger_572,1,1,male,36.0,0,0,26.3875,S,First,man,1,E,Southampton,yes,1
32,Passenger_579,1,3,male,32.0,0,0,7.9250,S,Third,man,1,None,Southampton,yes,1
33,Passenger_604,1,1,male,35.0,0,0,26.5500,C,First,man,1,None,Cherbourg,yes,1
34,Passenger_607,1,1,male,27.0,0,0,30.5000,S,First,man,1,None,Southampton,yes,1
35,Passenger_630,1,1,male,80.0,0,0,30.0000,S,First,man,1,A,Southampton,yes,1
36,Passenger_632,1,1,male,32.0,0,0,30.5000,C,First,man,1,B,Cherbourg,yes,1
37,Passenger_647,1,1,male,56.0,0,0,35.5000,C,First,man,1,A,Cherbourg,yes,1
38,Passenger_673,1,2,male,31.0,0,0,13.0000,S,Second,man,1,None,Southampton,yes,1
39,Passenger_681,1,1,male,27.0,0,0,76.7292,C,First,man,1,D,Cherbourg,yes,1
40,Passenger_701,1,1,male,35.0,0,0,26.2875,S,First,man,1,E,Southampton,yes,1
41,Passenger_707,1,1,male,42.0,0,0,26.2875,S,First,man,1,E,Southampton,yes,1
42,Passenger_737,1,1,male,35.0,0,0,512.3292,C,First,man,1,B,Cherbourg,yes,1
43,Passenger_744,1,3,male,31.0,0,0,7.9250,S,Third,man,1,None,Southampton,yes,1
44,Passenger_762,1,3,male,20.0,0,0,7.2292,C,Third,man,1,None,Cherbourg,yes,1
45,Passenger_804,1,3,male,27.0,0,0,6.9750,S,Third,man,1,None,Southampton,yes,1
46,Passenger_821,1,3,male,27.0,0,0,8.6625,S,Third,man,1,None,Southampton,yes,1
47,Passenger_838,1,3,male,32.0,0,0,56.4958,S,Third,man,1,None,Southampton,yes,1
48,Passenger_857,1,1,male,51.0,0,0,26.5500,S,First,man,1,E,Southampton,yes,1
49,Passenger_889,1,1,male,26.0,0,0,30.0000,C,First,man,1,C,Cherbourg,yes,1